html,
body {
    font-family: 'BubbleFont', sans-serif;

}

@font-face {
    font-family: 'BubbleFont';
    src: url('./assets/BubblegumSans-Regular.ttf') format('truetype');
    font-display: swap;
}

:root {
    --z-base: 1;
    --z-character: 10;
    --z-ui: 100;
    --z-popup: 1000;
}


/* buttons **/

.btn {
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 16px;
}

.btn--red {
  background-color: #ff6b6b;
}

.btn--red:hover {
  background-color: #ff4d4d;
}


.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffa07a;
  z-index: var(--z-ui);
}

.home-button:hover {
  background-color: #ff7f50;
}

.reset-button {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 10px 16px;
  background-color: #6bc1ff;
  z-index: var(--z-ui);
}

.reset-button:hover {
  background-color: #40a9f3;
}
